@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-secondary;
}

.thread-item {
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}